[Desktop Entry]
Type=Application
Name=OnionDesk
GenericName=Tor client and circuit visualizer
Comment=Browse anonymously through Tor from a country you choose, watch your circuit live, or use I2P
Exec=oniondesk
Icon=io.github.sandipbera35.OnionDesk
Terminal=false
Categories=Network;Security;
Keywords=Tor;Tor client;Tor visualizer;Circuit visualizer;VPN;Onion;Proxy;SOCKS5;Privacy;Anonymity;Security;Censorship;I2P;Browser;Onion routing;Bridges;obfs4;Snowflake;Split tunneling;Leak test;
StartupWMClass=oniondesk
