[Desktop Entry]
Type=Application
Name=VPN Desk
GenericName=Tor country exit manager
Comment=Browse through Tor from a country you choose
Exec=vpn_desk
Icon=io.vpndesk.VPNDesk
Terminal=false
Categories=Network;Security;
Keywords=VPN;Tor;Proxy;Privacy;
StartupWMClass=vpn_desk
