pkgbase = oniondesk-bin
	pkgdesc = Tor client with a live circuit visualizer: pick your exit country, optional system-wide mode
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/sandipbera35/vpndesk
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = gtk3
	depends = nftables
	depends = polkit
	optdepends = polkit: administrator prompt for system-wide mode
	provides = oniondesk
	conflicts = oniondesk
	conflicts = vpn-desk
	options = !strip
	options = !debug
	source = oniondesk.desktop::https://github.com/sandipbera35/vpndesk/raw/v1.0.7/packaging/oniondesk.desktop
	source = oniondesk.png::https://github.com/sandipbera35/vpndesk/raw/v1.0.7/packaging/icon.png
	source = oniondesk.metainfo.xml::https://github.com/sandipbera35/vpndesk/raw/v1.0.7/packaging/linux/io.github.sandipbera35.OnionDesk.metainfo.xml
	source = oniondesk.policy::https://github.com/sandipbera35/vpndesk/raw/v1.0.7/packaging/linux/io.github.sandipbera35.OnionDesk.net.policy
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = oniondesk-1.0.7-x64.tar.gz::https://github.com/sandipbera35/vpndesk/releases/download/v1.0.7/oniondesk-1.0.7-linux-x64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = oniondesk-1.0.7-arm64.tar.gz::https://github.com/sandipbera35/vpndesk/releases/download/v1.0.7/oniondesk-1.0.7-linux-arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = oniondesk-bin
